@model StokTakipStajyer2.Models.DEPO

@{
    ViewBag.Title = "Depo Sil";
}

<h2>Depo Sil</h2>

<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("İptal", "DepoListele")
        </div>
    }
</div>
