@model StokTakipStajyer2.Models.KULLANICI
@{
    ViewBag.Title = "Giris";
}

<h2>Giris</h2>
@using (Html.BeginForm("Giris", "Home", new { FormMethod.Post }))
{
    <div>
        <label>Username</label><br />
        @Html.TextBoxFor(m => m.KUL_USERNAME)
    </div>
    <div>
        <label>Şifre</label><br />
        @Html.PasswordFor(m => m.KUL_SIFRE)
    </div>
    <button type="submit">Giriş Yap</button>

    if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
}