@model StokTakipStajyer2.Models.KULLANICI

@{
    ViewBag.Title = "Kullanıcı Sil";
}

<h2>Kullanıcı Sil</h2>

<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("İptal", "KullaniciListeleRaporKullanicisi")
        </div>
    }
</div>
