@model StokTakipStajyer2.Models.STOK_HAREKET

@{
    ViewBag.Title = "Stok Hareketi Sil";
}

<h2>Stok Hareketi Sil</h2>

<h3>Bu stok hareketini silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>@Model.HAREKET_ID</h4>
    <hr />
    <dl class="dl-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("İptal", "StokHareketListele", null, new { @class = "btn btn-secondary" })
        </div>
    }

</div>
